/* LoginForm.css */
/* Login.css */
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

 
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

 /* signup css */
.signup-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

/* HomePage.css */
.home-page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.home-page-container h2 {
  margin-bottom: 20px;
}

.home-page-container p {
  font-size: 18px;
  line-height: 1.6;
}
/* // sidebar  */
.sidebar {
  position: fixed;
  top: 60px; /* Height of the header */
  bottom: 40px; /* Height of the footer */
  left: 0;
  width: 15%; /* Sidebar takes up 15% of the width */
  background-color: #333;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
  z-index: 1; /* Ensure sidebar stays above other content */

}
  
.logo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.name {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-list li {
  margin-bottom: 10px;
}

.menu-list li:hover {
  cursor: pointer;
 }

.menu-list a {
  color: white;
  text-decoration: none; /* Remove underlines */
}

/* Remove underline on hover */
.menu-list a:hover {
  text-decoration: none;
}

/* Remove outline on focus */
.menu-list a:focus {
  outline: none;
}

/* Optionally, remove any click effects */
.menu-list a:active {
  outline: none;
}
/* // header  */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .right {
  display: flex;
  align-items: center;
  padding-right: 3%;
}

.header .right > * {
  margin-left:20px;
 /* padding-right: 20px; */
  color: #fff;
  text-decoration: none;
}

.header .right .logout {
  cursor: pointer;
 
}


/* footer  */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #0044ff;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}


/* main content */
.main-content {
  position: fixed;
  top: 60px; /* Height of the header */
  bottom: 60px; /* Height of the footer */
  left: 15%; /* Set margin of 15% on the left */
  width: 85%; /* Main content takes up 85% of the width */
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Align items to the center */
}

.card {
  width: calc(16.66% - 20px); /* Each row will display 6 cards */
  margin-bottom: 18px;
  padding: 20px;
  box-sizing: border-box;
  background-color: transparent; /* Remove card background color */
  border: none; /* Remove card border */
  text-align: center; /* Center text */
   
}
.card link {
  text-decoration: none;
}
.icon {
  width: auto; /* Adjust icon size as needed */
  height: auto;
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Adjust icon size as needed */
   
}
 

.title {
  font-size: 18px;
  margin: 0;
  color: black; /* Set text color to black */
  text-decoration: none; /* Ensure no underline on hover */

 }

.title:hover {
  text-decoration: none; /* Ensure no underline on hover */
}


/* login */
 /* Login.css */
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

 /* signup css */
.signup-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

/* Add more CSS styling as needed */
.invoice-container {
  padding-left: 18%;
  padding-top: 3%;
  padding-right: 1%;

}

.invoice-content {
  flex: 1;
  padding: 20px;
}

.invoice-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.invoice-label {
  margin-top: 10px;
}

.invoice-input[type="date"],
.invoice-input[type="text"],
.invoice-select,
.invoice-textarea {
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.invoice-textarea {
  height: 100px;
}

.invoice-submit[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.invoice-submit[type="submit"]:hover {
  background-color: #0056b3;
}

/* Dashboard summary styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container {
  flex: 1;
  /* padding: 20px; */
  /* width: 80%; */
  /* padding-left: 18%;
  padding-top: 3%;
  padding-right: 1%; */
  /* text-align: left;   */
}
.report-container {
   
  width: 80%;  
    padding-left: 18%; 
  padding-top: 3%;
   padding-right: 1%; 
  

}
.card {
  background-color: #f2f2f2;
  width: 500px;
  margin: 50px auto; /* Center the card horizontally */
  padding: 20px;
  margin-left: 30%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
 }

.card h3 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.card p {
  margin: 10px 0;
  font-size: 20px;
  color: #666;
}

.view-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.view-link:hover {
  background-color: #0056b3;
}

/* Buttons */
.report-buttons {
  margin-bottom: 20px;
}

.report-buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.report-buttons button.active {
  background-color: #0056b3;
}

/* Count Cards */
.count-cards {
  display: flex;
  justify-content: space-evenly;
 }

.count-card {
  margin: 10px;
  padding: 10px;
  background-color: #2d3033;
  border-radius: 4px;
  color: white;
}

/* Date Filter */
.date-filter {
  margin-top: 20px;
}

.date-filter input {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.date-filter input:focus {
  outline: none;
  border-color: #007bff;
}

/* Report Table */
.report-table {
  width: 100%;
  border-collapse: collapse;
}

.report-table th,
.report-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.report-table th {
  background-color: #f2f2f2;
}

.report-table td {
  text-align: center;
}

/* Pagination */
.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

.new-registration-btn,
.view-registration-btn,
.edit-registration-btn,
.delete-registration-btn {
  display: inline-block;
  padding: 4px 10px;
  margin-right: 2px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.view-registration-btn {
  background-color: #28a745;
}

.edit-registration-btn {
  background-color: #ffc107;
}

.delete-registration-btn {
  background-color: #dc3545;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin-right: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
}

.pagination button:hover {
  background-color: #0056b3;
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.popup-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.popup-content button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #45a049;
}

 

/* Container and Layout */
.container {
  padding-left: 18%;
  padding-top: 3%;
  padding-right: 1%;

  display: flex;
  flex-direction: row;
}

.registration-new {
  flex-grow: 1;
  padding: 20px;
}

/* Form Styles */
.form-row {
  display: flex;
  margin-bottom: 15px;
}

.form-group {
  margin-right: 20px;
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #45a049;
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.popup-content p {
  margin-bottom: 20px;
  font-size: 18px;
}

.popup-content button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #45a049;
}

/* Error Styles */
.error {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}
/* support css */

.support-container {
  padding-left: 18%;
  padding-top: 3%;
  padding-right: 1%;
}

.support-content {
 
  flex: 1;
  padding: 20px;
}

.support-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.support-stat {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.support-info {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}


/* registration stats css */
.registration-container {
  flex-grow: 1;
  padding: 20px;
}

.new-registration-btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.new-registration-btn:hover {
  background-color: #45a049;
}

/* Table Styles */
.registration-table {
  width: 100%;
  border-collapse: collapse;
}

.registration-table th, .registration-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.registration-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.registration-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.registration-table tr:hover {
  background-color: #ddd;
}

/* Button Styles */
.delete-registration-btn {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-registration-btn:hover {
  background-color: #d32f2f;
}

/* Pagination Styles */
.pagination {
  margin-top: 10px;
  margin-bottom: 25px;
}

.pagination button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #45a049;
}